*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    margin: 0;
    background: skyblue;
    text-align: center;
}

h1{
    font-family: Arial;
    font-size: 55px;
}

P{
    font-size: 30px;


}